<!DOCTYPE html>
<!-- Code By Webdevtrick ( https://webdevtrick.com ) -->
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart | Webdevtrick.com</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/5.0.2/css/foundation.css'>
<link rel="stylesheet" href="style.css">

</head>
<body>

<div class="row">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Shopping Cart</a></h1>
            </li>
        </ul>
    </nav>
    <div class="medium-4  columns">
        <div class="cart">
            <h1>Cart items</h1>
            <div class="row">
                <div class="medium-6 columns">
                    <button class="tiny secondary" id="clear">Clear the cart</button>
                </div>
                <div class="medium-6 columns">
                    <button class="tiny disabled" title="Work in progress">Checkout</button>
                </div>
            </div>
            <div id="cartItems">Loading cart...</div>
            Total price: <strong id="totalPrice">0 $</strong>
        </div>
      
    </div>
    <div class="medium-8 columns">
        <h1>Art List</h1>
        <div class="products">
            <div class="product medium-4 columns" data-name="Self-Portrait as a Painter" data-price="3000" data-id="0">
                <img src="images/vc1.jpg" alt="" />
                <h3>Self-Portrait as a Painter</h3>
                <input type="hidden" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
            <div class="product medium-4 columns" data-name="The Potato Eaters" data-price="85000" data-id="1">
                <img src="images/vc2.jpg" alt="" />
                <h3>The Potato Eaters</h3>
                <input type="hidden" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
            <div class="product medium-4 columns" data-name="Weaver" data-price="9000" data-id="2">
                <img src="images/vc3.jpg" alt="" />
                <h3>Weaver</h3>
                <input type="hidden" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
            <div class="product medium-4 columns" data-name="The Bedroom" data-price="7000" data-id="2">
                <img src="images/vc4.jpg" alt="" />
                <h3>The Bedroom</h3>
                <input type="hidden" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
            <div class="product medium-4 columns" data-name="The Yellow House" data-price="5000" data-id="2">
                <img src="images/vc5.jpg" alt="" />
                <h3>The Yellow House</h3>
                <input type="hidden" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
            <div class="product medium-4 columns" data-name="Self-Portrait With Portrait Of Emile Bernard" data-price="3000" data-id="2">
                <img src="images/vc6.jpg" alt="" />
                <h3>Self-Portrait With Portrait Of Emile Bernard</h3>
                <input type="hidden" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
            <div class="product medium-4 columns" data-name="Self-Portrait With Portrait Of Gauguin" data-price="7000" data-id="2">
                <img src="images/vc7].jpg" alt="" />
                <h3>Self-Portrait With Portrait Of Gauguin</h3>
                <input type="hidden" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
            <div class="product medium-4 columns" data-name="Almond Blossom" data-price="1500" data-id="2">
                <img src="images/vc8.jpg" alt="" />
                <h3>Almond Blossom</h3>
                <input type="hidden" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
            <div class="product medium-4 columns" data-name="Gate In The Paris Ramparts" data-price="8000" data-id="2">
                <img src="images/vc9.jpg" alt="" />
                <h3>Gate In The Paris Ramparts</h3>
                <input type="hidden" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="cartT">
  <% _.each(items, function (item) { %> <div class = "panel"> <h3> <%= item.name %> </h3>  <span class="label">
<%= item.count %> piece<% if(item.count > 1)
{%>s
<%}%> for €<%= item.total %></span > </div>
<% }); %>
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
<script  src="cart.js"></script>

</body>
</html>